html, body {
    background: #000; 
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}
.trackContainer, #selfContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 128px;
    box-sizing: border-box;
    padding: 10px;
    background: #020202;
}
.trackContainer {
    height: 512px;
}
.track, .selfTrack {
    width: 100%;
}
.selfAudioTrack {
    width: 100%;
    height: 100%;
    background: #200;
}

#deviceSelectorHolder {
    width: 128px;
    height: 128px;
    display: flex;
    flex-wrap: wrap;
}
.addSourceButton {
    width: 50%;
    height: 50%;
    font-size: 14px;
    background-color: #111;
    color: #CCC;
    border: none;
}
.addSourceButton:hover {
    background-color: #151515;
    color: #DDD;
    font-size: 16px;
    cursor: hand;
}
.addSourceButton:active {
    background-color: #222;
    color: #FFF;
}

.audioTrack {
    height: 100%;
    padding: 0px;
    background-color: #333;
    margin: 0px;
}

.trackBox, .selfAudioTrack {
    display: flex;
    justify-content: center;
    align-items: center;
}
.trackBox, #deviceSelectorHolder {
    border: 1px solid #444;
}

.micLabel {
    width: 100%;
    height: auto;
    text-align: center;
    color: #FFF;
}

.selfContainer {
    display: flex;
    size: 100px;
    border: 1px solid #333;
}
.selfTrack {
    height: auto;
}

.info {
    color: #FFF;
    display: flex;
    height: 128px;
    flex-direction: column;
    padding-left: 3px;
    padding-right: 3px;
    justify-content: space-between;
}

.infoText {
    margin: 3px;
}

.selfAudioTrack:hover  { filter: blur(2px) grayscale(20%); cursor: hand; }
.selfTrack:hover       { filter: blur(2px) grayscale(20%); cursor: hand; }
.selfAudioTrack:active { filter: blur(5px) grayscale(35%); }
.selfTrack:active      { filter: blur(5px) grayscale(35%); }

.popupSelectorBase {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 25vh;
    padding-bottom: 35vh;
    background: #000C;
    filter: blur(45%);
    transform: translate(-50%, -50%);
    z-index: 5;
    border: 8px solid #FFFC;
    border-radius: 10vh;
}
.popupSelector {
    width: 35vw;
    height: 2vw;
    background-color: #000;
    color: #FFF;
}