* {
    scroll-behavior: smooth;
}
html, body {
    background: #000; 
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}
input[type=range][orient=vertical] {
    -webkit-appearance: slider-vertical;
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}
::-webkit-scrollbar {
    width: 5px;
}

#deviceSelectorHolder {
    width: 128px;
    height: 128px;
    display: flex;
    flex-wrap: wrap;
}
.addSourceButton {
    width: 50%;
    height: 50%;
    font-size: 14px;
    background-color: #111;
    color: #CCC;
    border: none;
}
.addSourceButton:hover {
    background-color: #151515;
    color: #DDD;
    font-size: 16px;
    cursor: hand;
}
.addSourceButton:active {
    background-color: #222;
    color: #FFF;
}
.selfTrack {
    width: 100%;
}
.selfAudioTrack {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trackContainer, #selfContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    padding: 5px;
    background: #020202;
}
#selfContainer {
    flex-wrap: wrap;
    margin-bottom: 2px;
    border-bottom: 2px solid #888;
}
.trackContainer {
    min-height: 200px;
    flex-wrap: wrap;
    margin-bottom: 5px;
    border-bottom: 2px solid #888;
}
.track {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
.audioTrack {
    width: 0px;
    height: 0px;
}
.peer_volume_range {
    position: relative;
    height: 75%;
    outline: none;
    border: none;
}
.peerAudioOptionSpan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25%;
    vertical-align: middle;
}
.peer_mute_checkbox {
    align-self: center;
}
.mutedText {
    color: #FFF;
    margin-right: 5px;
    margin-bottom: 3.5px;
}
.trackBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: none;
}
.trackBox, #deviceSelectorHolder {
    border: 1px solid #444;
}

.micLabel {
    width: 100%;
    height: auto;
    text-align: center;
    color: #FFF;
}
.selfContainer {
    display: flex;
    size: 100px;
    border: 1px solid #333;
}
.selfTrack {
    width: 100%;
    height: 100%;
}

.info {
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 3px;
    justify-content: space-between;
}

.selfTrack:hover       { transform: scale(0.95); filter: blur(2px) grayscale(20%); cursor: hand; }
.selfAudioTrack:hover  { transform: scale(0.95); filter: blur(2px) grayscale(20%); cursor: hand; }
.selfTrack:active      { transform: scale(0.90); filter: blur(5px) grayscale(35%); }
.selfAudioTrack:active { transform: scale(0.90); filter: blur(5px) grayscale(35%); }

.floating_menu_container {
    position: fixed;
    z-index: 3;
    background: #000A;
    backdrop-filter: blur(2px);
}
.menu_container {
    width: fit-content;
    height: fit-content;
}
.menu_container * {
    color: #FFF;
}
.menu_span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3px;
    padding-right: 3px;
    width: auto;
    min-height: 25px;
    border: solid #FFF;
    border-width: 1px 1px 0px 1px;
}
.menu_span:last-child {
    border-width: 1px 1px 1px 1px;
}
.menu_span > * {
    margin-top: auto;
    margin-bottom: auto;
}
.menu_span:hover {
    background: #FFF2;
}

.menu_button {
    background: none;
    text-align: left;
    width: 100%;
    height: 100%;
    border: none;
}
.menu_button:hover {
    cursor: hand;
}
.menu_button:active {
    background: #FFF1;
}
.menu_checkbox {
    position: relative;
    float: right;
}
.menu_range_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .popupSelectorBase {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 25vh;
    padding-bottom: 35vh;
    background: #000C;
    filter: blur(45%);
    transform: translate(-50%, -50%);
    z-index: 5;
    border: 8px solid #FFFC;
    border-radius: 10vh;
}
.popupSelector {
    width: 35vw;
    height: 2vw;
    background-color: #000;
    color: #FFF;
} */

body {
    display: flex;
    flex-direction: row;
}

#mainArea {
    width: -webkit-fill-available;
    height: 100%;
    box-sizing: border-box;
}

#chatWindow {
    display: block;
    width: 30%;
    height: 100%;
    margin-left: auto;
    
    border: 1px solid #FFF;
    box-sizing: border-box;
}
#chatTextArea {
    width: 100%;
    height: calc(100% - 30px);
    overflow-y: auto;
}
#chatInputContainer {
    width: 100%;
    height: 30px;
    
    margin: 0px;
    padding: 0px;
}
#chatInput {
    width: 100%;
    height: 100%;
    background-color: #111;
    outline: none;
    border: none;
    color: #FFF;
    word-wrap: break-word;
}

.chatMessage {
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    margin: 0px;
    color: #FFF;
    border-bottom: 1px solid #FFF;
}

#chatInput, .chatMessage {
    padding: 2px;
    padding-left: 3.5px;
    padding-right: 3.5px;
}

#toggleChatButton {
    background-color: #222E;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 2;
    right: 0;
    margin: 5px;
}